:root{
    --det-color: #26547C;
    --sec-color: #6BC4BA;
}

body{
    font-family: "Montserrat", sans-serif;
}

.my_title{
    font-family: "Jost", sans-serif;
    font-weight: 500;
}

.navbar{
    background-color: white;
    border-bottom: 3px solid var(--det-color);
    box-shadow: 2px 2px 10px darkgray;
}

.profilo{
    color: var(--det-color);
}

.btn{
    transition: 0.3s;
}

.btn:hover{
    background-color: var(--sec-color);
    color: white;
}

/* MASTHEAD */
.masthead {
    height: 40vh;
    min-height: 500px;
    border-bottom: 3px solid var(--det-color);
    box-shadow: 2px 2px 10px darkgray;
    background-image: url('../img/masthead.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -80px;
}

.sfondo_hero{
    background-color: rgba(178, 178, 178, 0.8);
    width: 80%;
    border-radius: 25px;
    box-shadow: 2px 2px 10px black;
}


@media screen and (max-width: 1500px) {
    .masthead {
        height: 40vh;
        min-height: 500px;
        border-bottom: 3px solid var(--det-color);
        box-shadow: 2px 2px 10px darkgray;
        background-image: url('../img/masthead.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media screen and (max-width: 576px) {
    .masthead {
        height: 40vh;
        min-height: 500px;
        border-bottom: 3px solid var(--det-color);
        box-shadow: 2px 2px 10px darkgray;
        background-image: url('../img/masthead.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -450px 0px;
    }
}

.bottone_annuncio{
    background-color: var(--det-color);
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
}

.bottone_indietro{
    border: 2px solid var(--det-color);
    border-radius: 25px;
}

.bordo{
    color: var(--det-color);
    border-bottom: 3px solid var(--sec-color);
}

.link_custom{
    transition: 0.4s;
}

.link_custom:hover{
    color: var(--sec-color);
    transform: scale(1.1);
}

.link_custom2{
    color: var(--sec-color);
    transform: scale(1.1);
}

.badge_logo{
    position: absolute;
    bottom: 5px;
    opacity: 0.8;
}

.carousel-control-prev-icon{
    transform: scale(2);
    
}

.carousel-control-next-icon{
    transform: scale(2);
}

.nav-link.show{
color: var(--sec-color) !important;
}

.navbar-toggler:focus{
    box-shadow: 0px 0px 10px var(--det-color) !important;
}

.card{
    transition: 0.4s;
}

.card:hover{
    transform: scale(1.06);
}